<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
</style>

*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{background-color: black;}


main{
	width: 940px;
	height: 600px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}


header{ width: 940px;
height: 68px; 
background-color: black;
}

img{float: left;
	margin-left: 30px;
margin-top: 7px;}

.logospidi{height: 55px;}

a{text-decoration: none;
    box-shadow: none;
   font-family: 'Staatliches', cursive;
   color: white;
   font-size: 18px;
    } 
    li{
    display:inline-block;
    width:15%;
    padding: 25px 0px;
    text-align:center;
    color:white;
    float: right;
    }
   li:hover{
    background-color:none;
    }

section{
	width: 940px;
	height: 480px;
	background-image: url(../img/fondo1.jpg);
}

footer{
	width: 940px;
	height: 52px;
	background-color: black;
}


p{color: white;
font-family: 'Roboto', sans-serif;
font-size: 14px;}

#primero { 
width: 500px;
height: 480px;
float: left;
margin-left: 35px;
padding-top:380px;}


#segundo { width: 360px;
	height: 400px;
	float: right;}

#uceslogo{
	float: right;
margin-right: 20px;}